# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Jest coverage reports
coverage/



# Environment files
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# OS specific files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/

# IDE specific files
.vscode/
.idea/
